<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Exam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>Main.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recover</display-name>
    <servlet-name>Recover</servlet-name>
    <servlet-class>Recover.Recover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recover</servlet-name>
    <url-pattern>/Recover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveChecking</display-name>
    <servlet-name>SaveChecking</servlet-name>
    <servlet-class>SaveChecking.SaveChecking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveChecking</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecChecking</display-name>
    <servlet-name>RecChecking</servlet-name>
    <servlet-class>Exam.RecChecking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecChecking</servlet-name>
    <url-pattern>/receive</url-pattern>
  </servlet-mapping>
</web-app>